@import "nord/src/sass/nord.scss";

:root {
  color-scheme: light dark;
  color: $nord4;
  background-color: $nord0;
}

a {
  font-weight: 500;
  color: $nord8;
  text-decoration: inherit;
}
a:hover {
  color: $nord7;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $nord0;
    background-color: $nord6;
  }
  a:hover {
    color: $nord8;
  }
  button {
    background-color: $nord4;
  }
}
